.parent {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}

.parent img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: myBall 2.5s infinite linear forwards;
}

.container-1 {
  width: 800px;
  height: 700px;
  background-image: url(https://media.istockphoto.com/id/814423752/photo/eye-of-model-with-colorful-art-make-up-close-up.jpg?s=612x612&w=0&k=20&c=l15OdMWjgCKycMMShP8UK94ELVlEGvt7GmB_esHWPYE=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 5s linear 0s;
}

.container-1:hover {
  background-image: url(https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=);
}

.container-2 {
  width: 800px;
  height: 700px;
  background: linear-gradient(
    326deg,
    rgba(58, 183, 232, 1) 0%,
    rgba(45, 185, 204, 1) 40%,
    rgba(200, 230, 204, 1) 56%,
    rgba(206, 222, 115, 1) 86%,
    rgba(230, 206, 30, 1) 100%
  );
}

.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}

.wrapper div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box-1 {
  background-color: yellow;
}

.box-2 {
  background-color: blue;
  top: 30px;
  left: 30px;
}

.box-3 {
  background-color: red;
  top: 60px;
  left: 60px;
}

.box-4 {
  background-color: black;
  top: 90px;
  left: 90px;
}

.box-5 {
  background-color: brown;
  top: 120px;
  left: 120px;
}

.wrapper div {
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s; */
  transition: all 5s linear 0s;
}

.wrapper div:hover {
  z-index: 1;
  transform: translate(10px, 10px) scale(1.1, 1.1) rotate(40deg);
  background-color: aqua;
}

@keyframes myBall {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0) scale(1);
  }
  20% {
    top: 450px;
    left: 100px;
    transform: rotate(360deg) scale(1.5);
  }
  50% {
    left: 200px;
    top: 200px;
    transform: rotate(540deg) scale(1.2);
  }
  60% {
    left: 300px;
    top: 450px;
    transform: rotate(720deg) scale(1.5);
  }
  100% {
    top: 0;
    left: 450px;
    transform: rotate(1080deg) scale(1);
  }
}
